.container {
    background-image: url('../../../public/aboutUs.png'); 
    background-size: cover; 
    background-position: center; 
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content:flex-end;
    position: relative;
    color: white; 
  }
  
  .content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 6rem;
  }
  
  .title {
    font-size: 1.3rem; 
    margin-bottom: 1rem; 
    padding-left: 1.5rem;
    color: #222222;
    font-family: Helvetica, Arial, sans-serif;
    letter-spacing: .6em;
  }
  
  .subtitle {
    color: #222222;
    max-width: 35%;
    line-height: 1.5;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1rem;
    text-align: justify;
  }

  @media (max-width: 768px) {
   .subtitle {
     max-width: 100%;}
     .content {
     padding-right: 4rem;
     }
  }

  .strong {
    font-weight: 600;
  }